@font-face {
    font-family: "Tajawal";
    src: url("../fonts/Tajawal/Tajawal-Regular.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "TajawalBlack";
    src: url("../fonts/Tajawal/Tajawal-Black.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "TajawalExtraBold";
    src: url("../fonts/Tajawal/Tajawal-ExtraBold.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "TajawalBold";
    src: url("../fonts/Tajawal/Tajawal-Bold.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "TajawalMedium";
    src: url("../fonts/Tajawal/Tajawal-Medium.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "TajawalExtraLight";
    src: url("../fonts/Tajawal/Tajawal-ExtraLight.ttf") format("truetype");
    font-style: normal;
}
@font-face {
    font-family: "TajawalLight";
    src: url("../fonts/Tajawal/Tajawal-Light.ttf") format("truetype");
    font-style: normal;
}